In [131]:
import numpy as np
import pandas as pd

In [132]:
df=pd.read_csv("../data/TMDB_all_movies.csv")

In [133]:
df.shape

(1138663, 28)

In [134]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.100,356.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,9499.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.300,426.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"svenska, suomi, English","Helmeri Pellonpää, Ulla Kuosmanen, Marina Mart...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.4,8346.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.876,2764.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Tamlyn Tomita, Unruly Julie McClean, Lili Tayl...","Alexandre Rockwell, Robert Rodriguez, Quentin ...","Andrzej Sekula, Guillermo Navarro, Phil Parmet...","Alexandre Rockwell, Robert Rodriguez, Quentin ...","Alexandre Rockwell, Lawrence Bender, Quentin T...",Combustible Edison,6.7,115652.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.500,360.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Marilyn Vance, Gene Levy, Lloyd Segan",Alan Silvestri,6.6,20588.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.200,30.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Timo Novotny, Michael Glawogger","Timo Novotny, Ulrich Gehmacher",NaN,8.1,286.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [135]:
df.isnull().sum()

id                               0
title                           13
vote_average                     0
vote_count                       0
status                           0
release_date                117472
revenue                          0
runtime                          0
budget                           0
imdb_id                     494797
original_language                0
original_title                  12
overview                    175000
popularity                       0
tagline                     967390
genres                      309172
production_companies        594083
production_countries        426815
spoken_languages            418698
cast                        364002
director                    184651
director_of_photography     839923
writers                     565661
producers                   754614
music_composer             1014002
imdb_rating                 683245
imdb_votes                  683245
poster_path                 284239
dtype: int64

In [136]:
df["overview"].head()

0    A Finnish man goes to the city to find a job a...
1    Nikander, a rubbish collector and would-be ent...
2    It's Ted the Bellhop's first night on the job....
3    Four young friends, while taking a shortcut en...
4    Timo Novotny labels his new project an experim...
Name: overview, dtype: object

In [137]:
df = df.dropna(subset=["overview","title"])

In [139]:
df.shape

(963657, 28)

In [140]:
df = df[
    [
        "id",
        "title",
        "vote_average",
        "overview",
        "popularity",
        "genres",
        "spoken_languages",
        "imdb_rating"
    ]
].copy()

In [141]:
df.shape

(963657, 8)

In [142]:
df["genres"].head()

0    Comedy, Drama, Romance, Crime
1           Comedy, Drama, Romance
2                           Comedy
3          Action, Crime, Thriller
4                      Documentary
Name: genres, dtype: object

In [143]:
df["genres"].iloc[0]

'Comedy, Drama, Romance, Crime'

In [144]:
df["genres"] = df["genres"].fillna("").str.strip()

In [145]:
df["genres"].head(5)
(df["genres"].str.len() > 0).sum()

np.int64(718627)

In [146]:
df = df[
    df["spoken_languages"]
    .fillna("")
    .str.contains("english|हिन्दी|hindi", case=False, regex=True)
]

In [147]:
df["spoken_languages"].head()

1                   svenska, suomi, English
2                                   English
3                                   English
4    English, हिन्दी, 日本語, Pусский, Español
6                                   English
Name: spoken_languages, dtype: object

In [148]:
df.loc[:, 'imdb_rating'] = df['imdb_rating'].fillna(df['imdb_rating'].mean())

In [149]:
df['combined_text'] = (
    df['overview'] + " " + df['genres']
).str.lower()

In [150]:
df.isnull().sum()

id                  0
title               0
vote_average        0
overview            0
popularity          0
genres              0
spoken_languages    0
imdb_rating         0
combined_text       0
dtype: int64

In [151]:
df.shape

(278756, 9)

In [126]:
df=df.to_csv("../data/cleaned_movies.csv", index=False)